body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width : 1200px)
{

    .container{
        height: 90vh;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        /* border: 1px solid red; */
    }

    .heading{
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 5%;
        width: 40%;
    }

    .heading h2{
        font-size: 2vw;
        margin: 0;
    }

    .tasks{
        position: absolute;
        left: 12.5%;
        top: 8%;
        margin: 0;
    }

    .add-task{
        background-color: #f5e8d5;
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 4%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .add-task img{
        height: 60%;
        width: 5%;
        padding: 1%;
        background-color: orange;
        position: absolute;
        border-radius: 1vw;
        left: 3%;
    }

    .ap{
        position: absolute;
        margin: 0;
        left: 15%;
    }

    .tasks-container{
        width: 90%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        gap: 5%;
    }

    .tasks-container::-webkit-scrollbar{
        width:5px;
        border-radius: 5vw;
    }

    .tasks-input{
        width:45%;
        height: 95vh;
        position: absolute;
        left: 50%;
        z-index: 1;
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 2vw;
    }

    .tasks-edit{
        width:45%;
        height: 95vh;
        position: absolute;
        left: 50%;
        z-index: 1;
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 2vw;
    }

    .edit-submit{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 90%;
        height: 5%;
        gap: 3%;
    }

    .contents{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 5%;
    }

    form input{
        padding: 2%;
        border-radius: 1vw;
    }

    .inputs{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    label{
        color: #acb6c5;
    }

    #tarea,#tareaedit{
        resize: none;
        height: 100%;
        border-radius: 1vw;
        padding: 2%;
    }

    #tarea::-webkit-scrollbar,#tareaedit::-webkit-scrollbar{
        width: 5px;
    }

    .icon-tab{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-tab label img{
        width: 30%;
        height: 30%;
        background-color: rgb(171, 172, 173);
        padding: 8%;
        border-radius: 1vw;
        cursor: pointer;
    }

    .icon-tab input[type="radio"]{
        display: none;
        cursor: pointer;
    }

    .icon-tab input[type="radio"]:checked + label img{
        border: 3px solid orange;
    }

    .status-tab{
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    .status-tab input[type="radio"]{
        display: none;
    }

    .status-tab label{
        height: 2%;
        width: 45%;
        cursor: pointer;
    }

    .status-tab input[type="radio"]:checked + label div{
        border: 2px solid orange;
    }

    .prog-in{
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #progress{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #e9a23b;
        border-radius: 0.5vw;
    }

    .comp{
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #compimg{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #32d657;
        border-radius: 0.5vw;
    }

    .wontdiv{
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #wontimg{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #dd524c;
        border-radius: 0.5vw;
    }

    #form-button{
        position: absolute;
        bottom: 1%;
        background-color: #3662e3;
        color: white;
        border-radius: 5vw;
        border: none;
        padding: 1%;
        width: 20%;
    }

    #form-button:hover{
        opacity: 0.5;
    }

    #edit-button{
        background-color: #2564ec;
        color: white;
        text-align: center;
        border-radius: 1vw;
        border: none;
        width: 20%;
        height: 90%;
    }

    #delete-button{
        background-color: #dd524c;
        color: white;
        text-align: center;
        border-radius: 1vw;
        border: none;
        width: 20%;
        height: 90%;
    }

    #edit-button:hover,#delete-button:hover{
        opacity: 0.5;
    }

    .task1{
        width: 100%;
        height: 100%;
        min-height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        border-radius: 1vw;
    }

    .task-contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width: 85%;
    }

    .task-contents p{
        margin: 1%;
    }

    .para-heading{
        height: 100%;
        width: 80%;
        overflow-y: scroll;
        /* text-align: justify; */
    }

    .tasks-container img{
        width: 10%;
        height: 40%;
        background-color: #acb6c5;
        padding: 5px;
        border-radius: 1vw;
        margin-left: 2%;
    }

    .para-heading::-webkit-scrollbar{
        width: 5px;
    }

    .para-heading p{
        margin: 0;
    }

    .task-heading{
        width: 95%;
        height: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
    }

    .task-heading img{
        height: 80%;
        background-color: #dd524c;
        border-radius: 1vw;
    }
}

@media (max-width : 500px)
{

    .container{
        height: 90vh;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    .heading{
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 5%;
        width: 40%;
    }

    .heading h2{
        font-size: 2vw;
        margin: 0;
    }

    .tasks{
        position: absolute;
        left: 12.5%;
        top: 8%;
        margin: 0;
    }

    .add-task{
        background-color: #f5e8d5;
        position: absolute;
        bottom: 8%;
        width: 90%;
        height: 4%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .add-task img{
        height: 60%;
        width: 5%;
        padding: 1%;
        background-color: orange;
        position: absolute;
        border-radius: 1vw;
        left: 3%;
    }

    .ap{
        position: absolute;
        margin: 0;
        left: 15%;
    }

    .tasks-container{
        width: 90%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        gap: 5%;
    }

    .tasks-container::-webkit-scrollbar{
        width:5px;
        border-radius: 5vw;
    }

    .tasks-input{
        width:90%;
        height: 75vh;
        position: absolute;
        z-index: 1;
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 2vw;
        background-color: #acb6c5;
    }

    .tasks-edit{
        width:90%;
        height: 75vh;
        position: absolute;
        z-index: 1;
        border: 1px solid #acb6c5;
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 2vw;
        background-color: #acb6c5
    }

    .edit-submit{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 90%;
        height: 5%;
        gap: 3%;
    }

    .contents{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 5%;
    }

    form input{
        padding: 2%;
        border-radius: 1vw;
    }

    .inputs{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    label{
        color: black;
    }

    #tarea,#tareaedit{
        resize: none;
        height: 100%;
        border-radius: 1vw;
        padding: 2%;
    }

    #tarea::-webkit-scrollbar,#tareaedit::-webkit-scrollbar{
        width: 5px;
    }

    .icon-tab{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-tab label img{
        width: 30%;
        height: 30%;
        background-color: rgb(171, 172, 173);
        padding: 8%;
        border-radius: 1vw;
        cursor: pointer;
    }

    .icon-tab input[type="radio"]{
        display: none;
        cursor: pointer;
    }

    .icon-tab input[type="radio"]:checked + label img{
        border: 3px solid orange;
    }

    .status-tab{
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    .status-tab input[type="radio"]{
        display: none;
    }

    .status-tab label{
        height: 2%;
        width: 45%;
        cursor: pointer;
    }

    .status-tab input[type="radio"]:checked + label div{
        border: 2px solid orange;
    }

    .prog-in{
        border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #progress{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #e9a23b;
        border-radius: 0.5vw;
    }

    .comp{
        border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #compimg{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #32d657;
        border-radius: 0.5vw;
    }

    .wontdiv{
        border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 0.8%;
        border-radius: 1vw;
    }

    #wontimg{
        width: 8%;
        height: 8%;
        padding: 3%;
        background-color: #dd524c;
        border-radius: 0.5vw;
    }

    #form-button{
        position: absolute;
        bottom: 1%;
        background-color: #3662e3;
        color: white;
        border-radius: 5vw;
        border: none;
        padding: 1%;
        width: 20%;
    }

    #form-button:hover{
        opacity: 0.5;
    }

    #edit-button{
        background-color: #2564ec;
        color: white;
        text-align: center;
        border-radius: 1vw;
        border: none;
        width: 20%;
        height: 90%;
    }

    #delete-button{
        background-color: #dd524c;
        color: white;
        text-align: center;
        border-radius: 1vw;
        border: none;
        width: 20%;
        height: 90%;
    }

    #edit-button:hover,#delete-button:hover{
        opacity: 0.5;
    }

    .task1{
        width: 100%;
        height: 100%;
        min-height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
        border-radius: 1vw;
    }

    .task-contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width: 85%;
    }

    .task-contents p{
        margin: 1%;
    }

    .para-heading{
        height: 100%;
        width: 80%;
        overflow-y: scroll;
        /* text-align: justify; */
    }

    .tasks-container img{
        width: 10%;
        height: 40%;
        background-color: #acb6c5;
        padding: 5px;
        border-radius: 1vw;
        margin-left: 2%;
    }

    .para-heading::-webkit-scrollbar{
        width: 5px;
    }

    .para-heading p{
        margin: 0;
    }

    .task-heading{
        width: 95%;
        height: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
    }

    .task-heading img{
        height: 80%;
        background-color: #dd524c;
        border-radius: 1vw;
    }
}